.git
.gitignore
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
evo_workspace/
*.md
!README.md
.github/
.dockerignore
docker-compose.yml
Dockerfile
paper/
.devcontainer/
.vscode/
